{% extends "cmsbase.html" %}

{% block title %}

	<title>{{ club.full_name }} {{ season.name }} | Club Details | Content Management System | SportsAdministrator</title>
	
{% endblock %}

{% block page %}

    <div class="breadcrumbs">
        <a class="nav-link" href="{% url 'cms_home' %}">CMS Home</a>
    </div>

    <div class="page-header">
        {{ club.full_name }}: {{ season.name }}<br />
        {{ season.status }}
    </div>
    
    <!-- Forms for editing a club's information for this specific season. -->
    <form id="default-form" enctype="multipart/form-data" role="form" method="post">
        {% csrf_token %}
            
        <div class="cms-header">
            OVERVIEW
        </div>
        
        <div class="cms-details">
            
            <div class="format-details">
                {{ season_form.as_ul }}
            </div>
            
        </div>
        
        <div class="cms-header">
            {{ league_record.edition.competition|upper }}
        </div>
        
        <div class="cms-details">

            <div class="format-details">
                {{ table_form.as_ul }}
            </div>

            <div class="format-details list-item">
                HOME<br />
                {{ home_form.as_ul }}
            </div>
            
            <div class="format-details list-item">
                AWAY<br />
                {{ away_form.as_ul }}
            </div>
            
        </div>
        
        <button class="cms-button" type="submit">{{ button_text }}</button>
            
    </form>
            
{% endblock %}