{% extends "cmsbase.html" %}

{% block title %}

	<title>{{ club.full_name }} | Club Details | Content Management System | SportsAdministrator</title>
	
{% endblock %}

{% block page %}

    <div class="breadcrumbs">
        <a class="nav-link" href="{% url 'cms_home' %}">CMS Home</a>
    </div>

    <div class="page-header">
        <img class="icon-image" src="{{ MEDIA_URL }}{{ club.country.flag }}" />
        {{ club.full_name }}
        {% if club.current_league %}
            ({{ club.current_league }})
        {% endif %}
    </div>
    
    <!-- Form for editing a club. -->
    <form id="default-form" enctype="multipart/form-data" role="form" method="post">
        {% csrf_token %}
            
        <div class="cms-header">
            OVERVIEW
        </div>
        
        <div class="cms-details">
            
            <div class="format-details">
                {{ form.as_ul }}
            </div>
            
        </div>
        
        <button class="cms-button" type="submit">{{ button_text }}</button>
            
    </form>
            
    <div class="cms-header">
        SEASONS
    </div>
        
    <div class="cms-details">
        
        {% if seasons %}
        
            {% for season in seasons %}

                <div class="format-details list-item">
            
                    {{ season.season }}: {{ season.competition }} |
                    <a class="list-link" href="{% url 'club_season' club.slug season.season %}">View Details</a>

                </div>
                
            {% endfor %}
                
        {% else %}
            
            <div class="format-details">
            
                This club has no seasons set up yet.
                
            </div>
                
        {% endif %}
    
    </div>
    
    <div class="cms-link-button">
        <a href="">
            New Season
        </a>
    </div>
            
{% endblock %}