{% extends "cmsbase.html" %}

{% block title %}

	<title>Home | Content Management System | SportsAdministrator</title>
	
{% endblock %}

{% block page %}

    <div class="page-header">
        Welcome, {{ user }}
    </div>
    <a class="nav-link" href="{% url 'configuration' %}">Site Configuration</a>
        
    <div class="site-header">
        {{ user.site_name }}
    </div>
    
    <div id="page-content">
    
        <section id="competitions">
            
            <div class="cms-header">
                
                COMPETITIONS    
            
            </div>
                
            <div class="cms-details">
                
                {% if competitions %}
                
                    {% for competition in competitions %}
                
                        <div class="format-details list-item">
                            
                            {% if competition.is_active %}
                                <img class="icon-image" src="{{ MEDIA_URL }}images/icons/tick.png" />
                            {% else %}
                                <img class="icon-imagev" src="{{ MEDIA_URL }}images/icons/cross.png" />
                            {% endif %}
                            
                            <img class="icon-image" src="{{ MEDIA_URL }}{{ competition.sport.icon }}" />
                            <img class="icon-image" src="{{ MEDIA_URL }}{{ competition.country.flag }}" />
                            {{ competition.name }}
                            
                            <div class="list-links">
                                <a class="list-link" href="{% url 'competition_details' competition.id %}">Details</a>
                                Modified: {{ competition.date_modified|date:'d/m/Y, H:i' }}
                            </div>
                            
                        </div>
                
                    {% endfor %}
                    
                {% else %}
                
                    <div class="format-details">
                    
                        You haven't set up any competitions yet.
                        
                    </div>
                    
                {% endif %}
                
            </div>
            
            <div class="cms-link-button">
                <a href="{% url 'new_competition' %}">
                    New Competition
                </a>
            </div>
            
        </section>
        
        <section id="clubs">
            
            <div class="cms-header">
                
                CLUBS    
            
            </div>
                
            <div class="cms-details">
                
                {% if clubs %}
                
                    {% for club in clubs %}
                
                        <div class="format-details list-item">
                            
                            <img class="icon-image" src="{{ MEDIA_URL }}{{ club.country.flag }}" />
                            {{ club.full_name }}
                            
                            <div class="list-links">
                                <a class="list-link" href="{% url 'club_details' club.slug %}">Details</a>
                                Modified: {{ club.date_modified|date:'d/m/Y, H:i' }}
                            </div>
                            
                        </div>
                
                    {% endfor %}
                    
                {% else %}
                
                    <div class="format-details">
                    
                        You haven't set up any clubs yet.
                        
                    </div>
                    
                {% endif %}
                
            </div>
            
            <div class="cms-link-button">
                <a href="{% url 'new_club' %}">
                    New Club
                </a>
            </div>
            
        </section>
            
        <section id="players">
            
            <div class="cms-header">
                
                PLAYERS    
            
            </div>
                
            <div class="cms-details">
                
                {% if players %}
                
                    {% for player in players %}
                
                        <div class="format-details list-item">
                            
                            <img class="icon-image" src="{{ MEDIA_URL }}{{ player.country.flag }}" />
                            {{ player.first_name }} {{ player.last_name }} ({{ player.current_club.short_name }})
                            
                            <div class="list-links">
                                <a class="list-link" href="">Details</a>
                                Modified: {{ player.date_modified|date:'d/m/Y, H:i' }}
                            </div>
                            
                        </div>
                
                    {% endfor %}
                    
                {% else %}
                
                    <div class="format-details">
                    
                        You haven't set up any players yet.
                        
                    </div>
                    
                {% endif %}
                
            </div>
            
            <div class="cms-link-button">
                <a href="{% url 'new_player' %}">
                    New Player
                </a>
            </div>
            
        </section>
    
    </div>
    
{% endblock %}