{% extends "cmsbase.html" %}

{% block title %}

	<title>Home | Content Management System | SportsAdministrator</title>
	
{% endblock %}

{% block page %}

    <div class="page-header">
        Welcome, {{ user }}
    </div>
    <a class="nav-link" href="{% url 'configuration' %}">Site Configuration</a>
        
    <div class="site-header">
        {{ user.site_name }}
    </div>
    
    <section id="competitions">
        
        <div class="cms-header">
            
            COMPETITIONS    
        
        </div>
            
        <div class="cms-details">
            
            {% if competitions %}
            
                {% for competition in competitions %}
            
                    <div class="list-item">
                        
                        {% if competition.is_active %}
                            <img class="icon-image" src="{{ MEDIA_URL }}images/icons/tick.png" />
                        {% else %}
                            <img class="icon-image" src="{{ MEDIA_URL }}images/icons/cross.png" />
                        {% endif %}
                        
                        <img class="icon-image" src="{{ MEDIA_URL }}{{ competition.sport.icon }}" />
                        <img class="icon-image" src="{{ MEDIA_URL }}{{ competition.country.flag }}" />
                        {{ competition.name }}
                        
                        <div class="list-links">
                            <a class="list-link" href="{% url 'competition_details' competition.id %}">
                                Details
                            </a>
                            {% if competition.is_active %}
                                <a class="list-link" href="">Current</a>
                            {% endif %}
                        </div>
                        
                    </div>
            
                {% endfor %}
                
            {% else %}
            
                You haven't set up any competitions yet.
                
            {% endif %}
            
        </div>
        
        <div class="cms-link-button">
            <a href="{% url 'new_competition' %}">
                New Competition
            </a>
        </div>
        
    </section>

{% endblock %}