{% extends "cmsbase.html" %}

{% block title %}

	<title>Competition Details | Content Management System | SportsAdministrator</title>
	
{% endblock %}

{% block page %}

    <div class="breadcrumbs">
        <a class="nav-link" href="{% url 'cms_home' %}">CMS Home</a>
    </div>

    <div class="page-header">
        {{ competition.name }}
    </div>
    
    <div class="sub-header">
        OVERVIEW
    </div>
    
    <!-- Form for creating a new competition. -->
    <form id="default-form" enctype="multipart/form-data" role="form" method="post">
        {% csrf_token %}
        {{ form.as_ul }}
        <button class="cms-button" type="submit">{{ button_text }}</button>
    </form>
            
{% endblock %}