{% extends "cmsbase.html" %}

{% block title %}

	<title>{{ competition.name }} | Competition Details | Content Management System | SportsAdministrator</title>
	
{% endblock %}

{% block page %}

    <div class="breadcrumbs">
        <a class="nav-link" href="{% url 'cms_home' %}">CMS Home</a>
    </div>

    <div class="page-header">
        {{ competition.name }}
    </div>
    
    <!-- Form for creating a new competition. -->
    <form id="default-form" enctype="multipart/form-data" role="form" method="post">
        {% csrf_token %}
            
            
        <div class="cms-header">
            OVERVIEW
        </div>
        
        <div class="cms-details">
            {{ form.as_ul }}
        </div>
        
        <button class="cms-button" type="submit">{{ button_text }}</button>
            
    </form>
            
    <div class="cms-header">
        EDITIONS
    </div>
        
    <div class="cms-details">
    
        {% for edition in editions %}
        
            <div class="list-item">
                
                {% if edition.is_current %}
                    <strong>{{ edition.season }}</strong>
                {% else %}
                    {{ edition.season }}
                {% endif %}
                
                <a class="list-link" href="{% url 'edition_details' competition.id edition.id %}">Details</a>
                
            </div>
        
        {% endfor %}
    
    </div>
    
    <div class="cms-link-button">
        <a href="{% url 'new_edition' competition.id %}">
            New Edition
        </a>
    </div>
            
{% endblock %}