{% extends "cmsbase.html" %}

{% block title %}

	<title>{{ competition.name }} | Competition Details | Content Management System | SportsAdministrator</title>
	
{% endblock %}

{% block page %}

    <div class="breadcrumbs">
        <a class="nav-link" href="{% url 'cms_home' %}">CMS Home</a>
    </div>

    <div class="page-header">
        <img class="icon-image" src="{{ MEDIA_URL }}{{ competition.sport.icon }}" />
        <img class="icon-image" src="{{ MEDIA_URL }}{{ competition.country.flag }}" />
        {{ competition.name }}
    </div>
    
    <!-- Form for editing a competition. -->
    <form id="default-form" enctype="multipart/form-data" role="form" method="post">
        {% csrf_token %}
            
        <div class="cms-header">
            OVERVIEW
        </div>
        
        <div class="cms-details">
            
            <div class="format-details">
                {{ form.as_ul }}
            </div>
            
        </div>
        
        <button class="cms-button" type="submit">{{ button_text }}</button>
            
    </form>
            
    <div class="cms-header">
        EDITIONS
    </div>
        
    <div class="cms-details">
        
        {% if editions %}
    
            {% for edition in editions %}
            
                <div class="format-details list-item">
                    
                    {% if edition.is_current %}
                        <strong>{{ edition.season }} (Current)</strong>
                    {% else %}
                        {{ edition.season }}
                    {% endif %}
                    
                    <a class="list-link" href="{% url 'edition_details' competition.id edition.id %}">Details</a>
                    
                </div>
            
            {% endfor %}
                
        {% else %}
            
            <div class="format-details">
            
                You haven't set up any editions yet.
                
            </div>
                
        {% endif %}
    
    </div>
    
    <div class="cms-link-button">
        <a href="{% url 'new_edition' competition.id %}">
            New Edition
        </a>
    </div>
            
{% endblock %}