{% extends "cmsbase.html" %}

{% block title %}

	<title>Configuration | Content Management System | SportsAdministrator</title>
	
{% endblock %}

{% block page %}

    <div class="breadcrumbs">
        <a class="nav-link" href="{% url 'cms_home' %}">CMS Home</a>
    </div>

    <div class="page-header">
        CONFIGURATION
    </div>
            
        <!-- Form to set up the site's details. -->
        <form id="default-form" enctype="multipart/form-data" role="form" method="post">
            {% csrf_token %}
            
            <div class="cms-header">
                SITE SETUP    
            </div>
            
            <div class="cms-details">
                
                <div class="format-details">
                    {{ setup_form.as_ul }}
                </div>
            
            </div>
            
            <div class="cms-header">
                COLOUR SETTINGS    
            </div>
            
            <div class="cms-details">
                
                <div class="format-details">
                    {{ color_form.as_ul }}
                </div>
            
            </div>
            
            <button class="cms-button" type="submit">{{ button_text }}</button>
        </form>
    
{% endblock %}