{% extends "cmsbase.html" %}

{% block title %}

	<title>{{ edition.name }} | Edition Details | Content Management System | SportsAdministrator</title>
	
{% endblock %}

{% block page %}

    <div class="breadcrumbs">
        <a class="nav-link" href="{% url 'cms_home' %}">CMS Home</a>
    </div>

    <div class="page-header">
        {{ edition.name }}
    </div>
    
    <!-- Form for editing an edition. -->
    <form id="default-form" enctype="multipart/form-data" role="form" method="post">
        {% csrf_token %}
            
        <div class="cms-header">
            OVERVIEW
        </div>
        
        <div class="cms-details">
            
            <div class="format-details">
                {{ form.as_ul }}
            </div>
            
        </div>
        
        <button class="cms-button" type="submit">{{ button_text }}</button>
            
    </form>
    
    <div id="teams">
    
        <div class="cms-header">
            CLUBS
        </div>
        
        <div class="cms-details">
            
            {% if clubs %}
                
                {% for club in clubs %}
                
                    <div class="format-details list-item">
                        
                        {{ club.full_name }}
                            
                        <div class="list-details">                            
                            
                        </div>
                            
                    </div>
                
                {% endfor %}
                    
            {% else %}
                
                <div class="format-details">
                
                    No clubs have been added to this edition yet.
                        
                </div>
                    
            {% endif %}
            
        </div>
        
    </div>
            
{% endblock %}