{% extends "cmsbase.html" %}

{% block title %}

	<title>{{ game.home_team }} v {{ game.away_team }}: {{ game.game_date|date:'d/m/Y' }} | Content Management System | SportsAdministrator</title>
	
{% endblock %}

{% block page %}

    <div class="breadcrumbs">
        <a class="nav-link" href="{% url 'cms_home' %}">CMS Home</a>
    </div>

    <div class="page-header">
        {{ game.home_team }} v {{ game.away_team }}: {{ game.game_date|date:'d/m/Y' }}
    </div>
         
    <!-- Form for creating a new competition. -->
    <form id="default-form" enctype="multipart/form-data" role="form" method="post">
        {% csrf_token %}
    
        <div class="cms-header">
            OVERVIEW
        </div>
    
        <div class="cms-details">
            
            <div class="format-details">
                {{ form.edition.label_tag }} {{ form.edition }}
                {{ form.game_date.label_tag }} {{ form.game_date }}
                {{ form.game_time.label_tag }} {{ form.game_time }}
                {{ form.game_status.label_tag }} {{ form.game_status }}
                {{ form.home_team.label_tag }} {{ form.home_team }}
                {{ form.away_team.label_tag }} {{ form.away_team }}
            </div>
            
        </div>
    
        <div class="cms-header">
            HOME TEAM
        </div>
    
        <div class="cms-details">
            
            <div class="format-details">
                {{ form.home_score.label_tag }} {{ form.home_score }}
                {{ form.home_possession.label_tag }} {{ form.home_possession }}
                {{ form.home_shots.label_tag }} {{ form.home_shots }}
                {{ form.home_on_target.label_tag }} {{ form.home_on_target }}
                {{ form.home_corners.label_tag }} {{ form.home_corners }}
                {{ form.home_fouls.label_tag }} {{ form.home_fouls }}
                {{ form.home_yellow.label_tag }} {{ form.home_yellow }}
                {{ form.home_red.label_tag }} {{ form.home_red }}
            </div>
            
        </div>
    
        <div class="cms-header">
            AWAY TEAM
        </div>
    
        <div class="cms-details">
            
            <div class="format-details">
                {{ form.away_score.label_tag }} {{ form.away_score }}
                {{ form.away_possession.label_tag }} {{ form.away_possession }}
                {{ form.away_shots.label_tag }} {{ form.away_shots }}
                {{ form.away_on_target.label_tag }} {{ form.away_on_target }}
                {{ form.away_corners.label_tag }} {{ form.away_corners }}
                {{ form.away_fouls.label_tag }} {{ form.away_fouls }}
                {{ form.away_yellow.label_tag }} {{ form.away_yellow }}
                {{ form.away_red.label_tag }} {{ form.away_red }}
            </div>
            
        </div>
        
        <button class="cms-button" type="submit">{{ button_text }}</button>
    </form>

{% endblock %}