{% extends "cmsbase.html" %}

{% block title %}

	<title>New Game | Content Management System | SportsAdministrator</title>
	
{% endblock %}

{% block page %}

    <div class="breadcrumbs">
        <a class="nav-link" href="{% url 'cms_home' %}">CMS Home</a>
    </div>

    <div class="page-header">
        New Game
    </div>
         
    <!-- Form for creating a new game. -->
    <form id="default-form" enctype="multipart/form-data" role="form" method="post">
        {% csrf_token %}
    
        <div class="cms-header">
            OVERVIEW
        </div>
    
        <div class="cms-details">
            
            <div class="format-details">
                {{ overview_form.as_ul }}
            </div>
            
        </div>
        
        <button class="cms-button" type="submit">{{ button_text }}</button>
    </form>

{% endblock %}