{% extends "cmsbase.html" %}

{% block title %}

	<title>New Edition | Content Management System | SportsAdministrator</title>
	
{% endblock %}

{% block page %}

    <div class="breadcrumbs">
        <a class="nav-link" href="{% url 'cms_home' %}">CMS Home</a>
    </div>

    <div class="page-header">
        {{ competition.name }}
    </div>
         
    <!-- Form for creating a new competition. -->
    <form id="default-form" enctype="multipart/form-data" role="form" method="post">
        {% csrf_token %}
    
        <div class="cms-header">
            NEW EDITION
        </div>
    
        <div class="cms-details">   
            {{ form.as_ul }}
        </div>
        
        <button class="cms-button" type="submit">{{ button_text }}</button>
    </form>

{% endblock %}