{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	{% block title %}
	{% endblock %}
	
	<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/default.css' %}">
	
	<style>
		
		.primary_colors {background-color: {{ primary_color }}; color: {{ primary_text }};}		
		.secondary_colors {background-color: {{ secondary_color }}; color: {{ secondary_text }};}		
		
	</style>
	
</head>
<body>

	{% block template %}
	{% endblock %}

</body>
</html>